[Unit]
Description=AzParking ANPR API
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
EnvironmentFile=
ExecStart=/usr/local/bin/centurypay -config /etc/centurypay/config.yaml
ExecStop=/bin/kill -s TERM $MAINPID
WorkingDirectory=/etc/centurypay
User=root
Group=root
Restart=always
RestartSec=5
StandardOutput=append:/var/log/centurypay/api.log
StandardError=append:/var/log/centurypay/api.log
SyslogIdentifier=%n

TimeoutStopSec=0
Restart=always
User=root
Group=root
RuntimeDirectory=/etc/centurypay
RuntimeDirectoryMode=2755

UMask=007
PrivateTmp=yes
LimitNOFILE=65535